on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            platform: linux-amd64
          - os: ubuntu-24.04-arm
            platform: linux-arm64
          - os: macos-latest
            platform: darwin-arm64

    name: Build on ${{ matrix.platform }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Build shared library for platform
        run: make build-${{ matrix.platform }}

      - uses: actions/upload-artifact@v4
        with:
          name: lib-${{ matrix.platform }}
          path: lib/libpubliccode-parser-${{ matrix.platform }}.*

  update:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - uses: actions/checkout@v6
        with:
          ref: main

      - uses: actions/download-artifact@v4
        with:
          path: lib/

      - run: |
          ls lib/
          if ! git diff --quiet -- lib/; then
            git config user.name "${GITHUB_ACTOR}"
            git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

            git add lib/
            git commit -m "ci: update shared libraries [skip ci]"
            git show
            # git push
          else
            echo "No changes in lib/"
          fi

      # - name: Update Packagist
      #   run: |
      #     curl -XPOST -H'content-type:application/json' \
      #       "https://packagist.org/api/update-package?username=bfabio&apiToken=${{ secrets.PACKAGIST_API_TOKEN }}" \
      #       -d'{"repository":{"url":"https://github.com/bfabio/publiccode-parser-php"}}'
